<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
        <h2>Usuários</h2>
        <a class="btn btn-success" href="/admin/users/create">Criar novo usuários</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
                <th><%= user.id %></th>
                <th><%= user.email %></th>
                
                <th>
                    <a href="/admin/categories/edit/<%= user.id %>" class="btn btn-warning">Editar</a>
                    <form method="POST" action="/users/delete" style="display: inline;" onsubmit="ConfirmarDelcecao(event, this)">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
    function ConfirmarDelcecao(event, form){
        event.preventDefault();
        var decision = confirm("Deseja excluir essa categoria?");
        if(decision){
            form.submit();
        }
    }
</script>

<%- include('../../partials/footer.ejs') %>